{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shoppinglist</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    </head>
    
    <body>

        <h1><a href="/" id="title">Shoppinglist</a></h1>

        <br>

        <div>
            <table>
                <tr>
                  <th scope="col">Itemname</th>
                  <th scope="col">Amount</th>
                </tr>
                {% block content %}
                {% endblock %}
              </table>
        </div>

        <br><br><br>

        <span>
            <form>
                <input name="itemname-input" type="text" value="" placeholder="Itemname">
                <input name="number-input" type="number" value="" placeholder="Num">
                <button type="submit" >+</button> <!--NOTIZ: Hier die methode namens 'addItem' aus views.py aufrufen.-->
            </form>
        </span>

    </body>

</html>