{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Website</title>
    </head>
    
    <body>

        <h1><a href="/" id="title">Einkaufsliste</a></h1>

        <br>

        <div>
            <table class="table">
                <thead>
                  <th>Itemname</th>
                  <th>Amount</th>
                </thead>
                <tbody>
                    {% block content %}
                    {% endblock %}
                </tbody>
              </table>
        </div>

        <br><br><br>

        <span>
            <form>
                <input name="itemname-input" type="text" value="" placeholder="Itemname">
                <input name="number-input" type="number" value="" placeholder="Amount">
                <button type="submit" >+</button> <!-- NOTIZ: Hier die methode namens 'addItem' aus views.py callen. -->
            </form>
        </span>

    </body>

</html>